@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --gray400: 0, 0%, 85.1%;
      --gray500: 210, 0.81%, 51.37%;
      --gray600: 225, 5.71%, 13.73%;
      --gray700: 240, 3.57%, 10.98%;
      --gray800: 210, 7.69%, 5.1%;
      --gray900: 240, 4.17%, 9.41%;
      --brown200: 34.12, 66.23%, 84.9%;
      --brown300: 34, 35.71%, 67.06%;
      --brown400: 33.7, 36.32%, 60.59%;
      --brown500: 33.56, 37.11%, 31.18%;
      --brown600: 34.12, 52.58%, 19.02%;
      --blue: 223, 50.85%, 53.73%;
      --green: 119.18, 36.32%, 60.59%;
      --white: 0, 0%, 100%;
    }
}    